
@{
    ViewData["Title"] = "SearchResults";
}

<h1>SearchResults</h1>

@model SearchRootobject
@{List<SearchResult> something = Model.results.ToList<SearchResult>(); }
<div>
    <table>
        <tr>
            <th>Movie Title</th>
            <th>Movie Genre</th>
            <th>Movie Year</th>
            <th>Movie Runtime</th>
            <th>Movie Poster</th>
        </tr>
    @foreach(var movie in something)
    {
        <tr>
            <td>@movie.title</td>
            <td>@movie.genre_ids</td>
            <td>@movie.release_date</td>
            <td>@movie.original_title</td>
            <td>@movie.poster_path</td>
        </tr>
    }
    </table>
</div>
<br />
<div>
    <button onclick="//insert code here to point to new page">Previous Page</button>
    <button onclick="//insert code here to point to new page">Next Page</button>
</div>